* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #caf0f8;
}

.heading {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #03045e;
    margin-bottom: 40px;
}

.main {
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 20px;
    box-shadow: 0 20 40px rgba(38, 33, 61, 0, 2);
    background-color: #90e0ef;
    border-radius: 10px;
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    width: 70%;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 3px solid #03045e;
    font-size: 18px;
    font-weight: 500;
    color: #03045e;
}

.search-box button {
    padding: 15px 0;
    width: 25%;
    background: #03045e;
    color: aliceblue;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.search-box button:hover {
    background: #00337C;
    cursor: pointer;
}

.result-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.word button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    color: #1a237e;
}

.finalword {
    font-size: 18px;
    color: #1a237e;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.meaning {
    margin-top: 10px;
    font-size: 18px;
    color: #3f51b5;
}

.error {
    color: red;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}